<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.html_title | default: "MLOwl - Blog about Machine Learning et al." }}</title>

    <!-- SEO start -->
    <meta name="description" content="{{page.meta_description | default: " Blog about Data Science, TensorFlow and other buzzwords
    "}}">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{page.html_title | default: " MLOwl - Blog about Machine Learning et al.
    " }}" />
    <meta property="og:description" content="{{page.meta_description | default: " Blog about ML, Data Science and other buzzwords
    "}}" />
    <meta property="og:url" content="http://www.mlowl.com"/>
    <meta property="og:site_name" content="MLOwl"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{page.meta_description | default: " Blog about ML, Data Science and other buzzwords
    "}}" />
    <meta name="twitter:title" content="{{page.html_title | default: " MLOwl - Blog about Machine Learning et al.
    " }}" />
    <meta name="twitter:site" content="@therealkilianb"/>
    <!-- SEO end -->

    <!-- Favicons start -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons end -->

    <!-- Stylesheets start -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:300|Source+Sans+Pro:300,600">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.6/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="/css/lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post-util.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/lib/highlight.css">
    <!-- Stylesheets end -->

    {{ layout.stylesheets }}
    {{ page.stylesheets }}
</head>

<body>
<nav role="navigation" id="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
            <a href="{{site.url}}">
                <div id="logo-title"><img src="/images/logo.png"/></div>
                <div id="logo-subtitle">Machine Learning et al.</div>
            </a>
        </div>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a {% if page.nav_item== 'home' %} class="active" {% endif %} ng-class="nav.getClass('blog')" href="{{site.url}}"><i class="fa fa-home"></i>Blog</a>
            </li>
            <li>
                <a {% if page.category== 'neural-network' %} class="active" {% endif %} href="/category/neural-network/"><i class="fa fa-sitemap"></i>
                <div>Neural
                    Network from Scratch
                </div>
                </a>
            </li>
            <li>
                <a {% if page.nav_item== 'about' %} class="active" {% endif %} ng-class="nav.getClass('about')" href="/about/"><i class="fa fa-user"></i>About</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page Content -->
<section class="wrapper">
    <div id="content" class="container-fluid">
        {{ content }}
    </div>
</section>
<footer class="footer">
    Powered by Jekyll.
    <a href="https://github.com/jekyll/jekyll" class="no-wrap" target="_blank">Fork it on <i class="fa fa-github" aria-hidden="true"></i></a>
    <br/>
    <a href="/legal/" class="no-highlight">Imprint & Privacy Policy</a>
</footer>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Underscore and Chartjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.6/js/ion.rangeSlider.min.js"></script>

<script src="/js/lib/polyfill.min.js"></script>
<script src="/js/lib/highlight.min.js"></script>

<script src="/js/general.js"></script>
{{ layout.javascripts }}
{{ page.javascripts }}

</body>

</html>