{% capture url_path %}{{site.url}}{{page.url}}{% endcapture %}

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.html_title | default: "The Blog about Machine Learning, Data Science and other buzzwords" }}</title>

    <!-- SEO start -->
    <meta name="description" content="{{page.meta_description | default: 'Blog about Machine Learning, Data Science and other buzzwords'}}">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{page.html_title | default: 'The Blog about Machine Learning, Data Science and other buzzwords'}}" />
    <meta property="og:description" content="{{page.meta_description | default: 'Blog about Machine Learning, Data Science and other buzzwords'}}" />
    <meta property="og:url" content="https://theblog.github.io"/>
    <meta property="og:site_name" content="The Blog"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{page.meta_description | default: 'Blog about Machine Learning, Data Science and other buzzwords'}}" />
    <meta name="twitter:title" content="{{page.html_title | default: 'The Blog about Machine Learning, Data Science and other buzzwords'}}" />
    <!-- SEO end -->

    <!-- Favicons start -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons end -->

    <!-- Stylesheets start -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.6/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="/css/lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/css/lib/highlight.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post-util.css">
    <link rel="stylesheet" href="/css/nav.css">
    <!-- Stylesheets end -->

    {{ layout.stylesheets }}
    {{ page.stylesheets }}

    <!-- Matomo Image Tracker-->
    <img src="http://ec2-18-219-49-194.us-east-2.compute.amazonaws.com/analytics/theblog.github.io/matomo/matomo/matomo.php?idsite=1&amp;rec=1&amp;action_name={{url_path | url_encode}}" style="border:0; position:absolute" alt="" />
    <!-- End Matomo -->
</head>

<body>
<nav role="navigation" id="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
            <a href="{{site.url}}">
                <div id="logo-title"><img src="/images/logo.png"/></div>
                <div id="logo-subtitle">about Machine Learning, Data Science and other buzzwords</div>
            </a>
        </div>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <h5><a href="{{site.url}}">Posts</a></h5>
        <div class="nav navbar-nav">
            {% for post in site.posts %}
            {% assign year = post.date | date: "%Y" %}

            {% if year != prev_year %}
                {% if prev_year %}
                </ul>
                {% endif %}
            <h5 class="navigation-year">{{year}}</h5>
            <ul>
            {% endif %}

            <li>
                <a {% if page.url== post.url %} class="active" {% endif %} href="{{post.url}}">{{ post.title }}</a>
            </li>
            {% assign prev_year = year %}
            {% endfor %}
            </ul>

        </div>
        <h5><a href="/about/">About</a></h5>
    </div>
</nav>

<!-- Page Content -->
<section class="wrapper">
    <div id="content" class="container-fluid">
        {{ content }}
    </div>
</section>
<footer class="footer">
    Powered by <a href="https://github.com/jekyll/jekyll" target="_blank">Jekyll</a>.
    <br/>
    <a href="https://www.iubenda.com/privacy-policy/63560500/legal" class="no-highlight">Imprint and Privacy Policy</a>
</footer>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Underscore and Chartjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.6/js/ion.rangeSlider.min.js"></script>

<script src="/js/lib/polyfill.min.js"></script>
<script src="/js/lib/highlight.min.js"></script>

<script src="/js/general.js"></script>
{{ layout.javascripts }}
{{ page.javascripts }}

</body>

</html>