---
layout: default
javascripts: |+2
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/post-util.js"></script>
stylesheets: |+2
    <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
---

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-post">
            <div class="panel-heading">
                <div class="headings">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2>{{ page.subtitle }}</h2>
                    {% endif %}
                    <h5>
                        <span><i class="fa fa-calendar-o"></i> {{ page.date | date_to_long_string }}</span>
                        {% if page.github_url %}
                        <span><i class="fa fa-github"></i> <a href="{{ page.github_url }}"> Source Code</a></span>
                        {% endif %}
                    </h5>
                </div>
            </div>
            <div class="panel-body post-body">
                <div>{{ content }}</div>

                <h3>Like what you read?</h3>
                <div>
                    <div class="clearfix">
                    <div><applause-button url="{{ site.url }}/{{ page.post_id }}" multiclap="true" color="rgb(10, 18, 79)"/></div>
                    <p>I don't use Google Analytics or Disqus because they require cookies. I would still like to know
                        which posts are popular, so if you liked this post you can let me know here on the right.</p>
                    </div>
                    <p>You can also leave a comment if you have a GitHub account. The "Sign in" button will store the GitHub API token in a cookie.</p>
                    <script src="https://utteranc.es/client.js"
                            repo="theblog/blog-comments"
                            issue-term="{{ page.post_id }}"
                            theme="github-light"
                            crossorigin="anonymous"
                            async>
                    </script>
                </div>
                <div>
                </div>

            </div>
        </div>
    </div>
</div>