
/* 2016-01-13 VISUALIZING TRAVEL TIMES */
.gmap-container, .gmap-container-stub {
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

@media only screen and (max-width: 940px) {
    .gmap-container, .gmap-container-stub {
        width: 100%;
        margin-right: 0;
    }
}

/* 2017-02-19 CHAR LM */
.talk-box {
    width: calc(100% + 40px);
    background: url(/images/posts/char-lm/text-box-background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0;
    text-align: center;
    margin: 0 -20px 10px -20px;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    color: #fff;
}

.mobile.talk-box{
    display:none;
    padding-left: 40px;
    padding-right: 40px;
}

.talk-box table {
    color: #fff;
    margin: 0 auto;
}

.talk-box td {
    vertical-align: top;
    border: transparent solid 10px;
    padding: 0;
}

.talk-box-heading {
    text-align: center;
}

.talk-box-heading .text {
    padding-top: 2px;
    font-size: 1rem;
}

.talk-box-heading .btn-group {
    display: inline-block;
    margin-top: 20px;
}

.mobile .talk-box-heading .btn-group, .mobile .talk-box-heading .dropdown-menu,
.mobile .talk-box-body .send-button {
    width: 100%;
}

.talk-box-heading .btn-group .btn {
    font-size: 1rem;
    color: #eee;
    min-width: 100px;
}

.talk-box-heading .btn-group .btn.active, .talk-box-heading .btn-group .btn:hover {
    color: #fff;
}

.talk-box-body {
    padding-bottom: 30px;
}

.mobile .talk-box-body {
    margin-top: 20px;
}

.mobile .talk-box-body .send-button {
    margin-top: 10px;
}

.talk-box-input {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    text-align: left;
    overflow: hidden;
}

.text-input {
    float: left;
    min-width: 2px;
}

.text-output {
    margin-left: 10px;
    color: #ddd;
    white-space: pre-wrap;
}

.text-input-output-bridge {
    float: left;
    margin-left: 5px;
}

.send-button {
    margin-top: 5px;
}

.mobile .send-button {
    font-size: 1rem;
    color: #eee;
    min-width: 100px;
}

@media only screen and (max-width: 670px),
only screen and (min-width: 768px) and (max-width: 910px) {
    .talk-box {
        display: none;
    }
    .talk-box.mobile {
        display: block;
    }
}