html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    background: #f1f2f7;
    min-width: 300px;
    margin-right: 0;
    font-family: "Fira Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

/* Copy anchor styles from Bootstrap and apply them to buttons as well */
a, button {
    color: #5480d6;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:active, a:focus,
button:hover, button:active, button:focus {
    color: #23527c;
    text-decoration: none;
}

a:focus, button:focus, span:focus, div:focus, select:focus, input:focus {
    outline: none !important;
}

button {
    background: none;
    border: none;
}

.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    font-size: 2rem;
}

h2 {
    margin-top: 1.7rem;
    font-size: 1.7rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

h5 {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.1rem;
}

th {
    font-weight: 600;
}

table {
    width: 90%;
    max-width: 600px;
    margin: 20px auto 30px auto;
    font-weight: 300;
}

.scroll-x-container, .mjx-chtml.MJXc-display {
    max-width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
}

.mjx-chtml.MJXc-display {
    padding-top: 4px;
    padding-bottom: 4px;
}

td, th {
    padding: 10px;
}

td {
    border-top: #eeeeee solid 1px;
}

textarea {
    resize: vertical;
}

input, textarea {
    margin-bottom: 20px;
}

blockquote {
    font-size: inherit;
    font-style: italic;
    margin: 15px 0;
}

pre {
    padding: 0;
    background-color: #f7f7f7;
    border: none;
    margin: 10px 0;
    font-size: 75%;
}

code {
    color: #555555;
    background-color: #f5f5f5;
    font-size: 0.8em;
    white-space: nowrap;
    border-radius: 3px;
}

pre > code {
    width: auto;
    overflow-x: visible;
    word-wrap: normal;
    white-space: pre;
}

.hljs {
    background-color: transparent !important;
}

img {
    margin-bottom: 15px;
    max-width: 100%;
}

figure {
    margin: 10px 0 15px 0;
    padding: 0 10%;
}

figure > img, figure > canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

figcaption {
    text-align: center;
    font-size: 0.85em;
}

.fa {
    color: #666;
}

.fa-calendar-o, .fa-thumb-tack {
    font-size: 0.8em;
}

.no-highlight {
    color: inherit;
}

.no-wrap {
    white-space: nowrap;
}

.wrapper, footer {
    margin-left: 220px;
}

.wrapper {
    position: relative;
    padding: 10px 10px 30px 10px;
    min-height: calc(100vh - 80px);
}

#content {
    max-width: 800px;
    overflow: hidden;
}

#post-error {
    display: none;
}

footer {
    height: 80px;
    text-align: center;
    font-size: 0.85em;
    padding: 0 15px;
    color: #666;
}

.panel {
    border: none;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.panel-post {
    position: relative;
}

.panel-default > .panel-heading {
    border-bottom: 1px solid #eee;
    background: none;
    margin: 0 20px;
    padding: 20px 0 10px 0;
    overflow: hidden;
    position: relative;
}

.panel-default > .panel-heading h1 {
    margin-top: 0;
    font-weight: 600;
}

.panel-default > .panel-heading h2 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.2rem;
}

.panel-default > .panel-heading h5 {
    text-transform: none;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: -0.5px;
}

.panel-default > .panel-heading h5 a {
}

.panel-default > .panel-heading h5 > span:not(:first-of-type) {
    margin-left: 10px;
}

.panel-default > .panel-heading h5 .fa {
    margin-right: 5px;
    vertical-align: top;
    margin-top: 0.3rem;
}

.panel-default > .panel-heading h5 .fa-github {
    margin-top: 0.1rem;
}

h1 a, h1 a:hover, h1 a:active, h1 a:focus {
    color: #222222;
}

.panel-default > .panel-heading .headings {
    float: left;
}

.panel-default > .panel-heading .tools-menu {
    margin-top: 10px;
    right: 10px;
    float: right;
}

.tools-menu a {
    margin-left: 10px;
}

.panel-body {
    padding: 20px 0;
    margin: 0 20px;
}

.post-body {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.4em;
    font-size: 1rem;
    letter-spacing: -0.5px;
}

.post-body h3 {
    margin-top: 2rem;
    font-weight: 600;
}

.post-body p {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.tags {
    clear: left;
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 5px;
    color: #777;
    white-space: nowrap;
}

.no-stretch {
    width: 1%;
    white-space: nowrap;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.center-div {
    text-align: center;
}

.center-div > div {
    display: inline-block;
    text-align: left;
}

.dropdown-toggle {
    white-space: normal;
}

.dropdown-full-width {
    width: 100%;
}

.dropdown-full-width .dropdown-toggle {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.dropdown-full-width .caret {
    float: right;
    margin-top: 8px;
}

.show-more {
    padding: 0;
}

.detail {
    display: none;
}

/* CLAP BUTTON */

applause-button {
    width: 52px;
    height: 52px;
    float: right;
    margin-left: 20px;
}

applause-button .count {
    color: rgb(10, 18, 79);
}

@media only screen and (max-width: 767px) {
    h1 {
        margin-top: 1.5rem;
        margin-bottom: -0.5rem;
        font-size: 1.5rem;
    }

    h2 {
        margin-top: 1.3rem;
        font-size: 1.3rem;
    }

    h3 {
        margin-top: 1.1rem;
        font-size: 1.1rem;
    }

    h5 {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .panel-post > .panel-heading {
        margin-right: 20px;
    }

    .github-ribbon {
        display: none;
    }

    .wrapper, footer {
        margin-left: 0;
    }

    .wrapper {
        padding-top: 60px;
        padding-left: 0;
        padding-right: 0;
    }

    .split-figure {
        overflow: hidden;
    }

    .split-figure figure {
        float: left;
        width: 50%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .split-figure img {
        max-width: 100%;
    }
}