.gmap-container, .gmap-container-stub {
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

.gmap-container {
    height: 400px;
}

.gmap-container .custom-gmap {
    width: 100%;
    height: 100%;
}

.gmap-container:last-child, .gmap-container-stub:last-child {
    margin-right: 0;
    margin-bottom: 20px;
}

.gmap-container-stub img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
}

.distance-table td, .distance-table th, .duration-table td, .duration-table th {
    border: none;
}

.gmaps-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 150px;
    display: none;
}

#code-btn-group {
    display: flex;
}

#code-btn-group .btn {
    flex: 1;
}

#code-mobile-dropdown {
    display: none;
}

#code-mobile-dropdown .dropdown-menu {
    width: 100%;
}

#code pre {
    height: 400px;
    max-height: 75vh;
}

/* Small Devices, Tablets */

@media only screen and (max-width: 940px) {
    .gmap-container, .gmap-container-stub {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    #code-btn-group {
        display: none;
    }

    #code-mobile-dropdown {
        display: block;
    }
}