---
layout: default
stylesheets: '
<link rel="stylesheet" href="/css/posts-overview.css">'
javascripts: '
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>'
nav_item: home
---

<div class="row">
    {% assign pinned = site.posts | where_exp: 'post', 'post.pinned' %}
    {% assign not_pinned = site.posts | where_exp: 'post', 'post.pinned != true' %}
    {% assign sorted_posts = pinned | concat: not_pinned %}
    {% for post in sorted_posts %}
    <div class="col-lg-12">
        <div class="panel panel-default panel-post">
            <div class="panel-heading">
                <div class="headings">
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    {% if post.subtitle %}
                    <h2>{{ post.subtitle }}</h2>
                    {% endif %}
                    <h5>
                        {% if post.pinned %}
                        <span><i class="fa fa-thumb-tack"></i> Pinned </span>
                        {% endif %}
                        <span><i class="fa fa-calendar-o"></i>{{ post.date | date_to_long_string }}</span>
                        {% if post.github_url %}
                        <span><i class="fa fa-github"></i> <a href="{{ post.github_url }}"> Source Code</a></span>
                        {% endif %}
                    </h5>
                </div>
            </div>
            <div class="panel-body post-body">
                {{ post.excerpt }}
                <a href="{{ post.url }}">Read more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>